name: "mconf-api-docs"
services:
  dev:
    build:
      context: .
      target: dev
    image: mconf/mconf-api-docs:dev
    ports:
      - "3000:3000"
    volumes:
      - .:/opt/docusaurus
    environment:
      - NODE_ENV=development
      - SHOW_INTERNAL_APIS=true
      - SITE_URL=https://api.h.elos.dev

  prod:
    build:
      context: .
      target: prod
      args:
        - SHOW_INTERNAL_APIS=false
        - SITE_URL=https://api.elos.vc
    image: mconf/mconf-api-docs:latest
    ports:
      - "80:3000"
    environment:
      - NODE_ENV=production
      - SHOW_INTERNAL_APIS=false
