{
  "swagger": "2.0",
  "info": {
    "description": "This is [Mconf's](https://mconf.github.io/api-mate/) oficial OpenAPI documentation file. It is available in [Redoc](https://redoc.ly/) and [SwaggerUI](https://swagger.io/) respectively.  This is a prototype, but the api key `special-key` is usable to test the authorization filters.",
    "version": "1.0.0",
    "title": "Mconf API",
    "x-logo": {
      "url": "https://s3.us-west-2.amazonaws.com/secure.notion-static.com/d78c2efe-0fdb-41ce-8b6c-9db63048856e/Mconf_Logo_Fundo_Azul.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220201%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220201T175649Z&X-Amz-Expires=86400&X-Amz-Signature=9b4a4074f53edb880a9356905f814f11415e7546ce87e39825b4ac3396519fac&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Mconf_Logo%2520Fundo%2520Azul.png%22&x-id=GetObject",
      "altText": "Mconf Logo"
    },
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "Mconf",
      "url": "https://mconf.com",
      "email": "contato@elos.vc"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.h.elos.dev",
  "basePath": "/bigbluebutton/api",
  "tags": [
    {
      "name": "meeting",
      "description": "Everything about your Meetings",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "recording",
      "description": "Access Recording information",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "user",
      "description": "User related operations",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/getMeetings?checksum={checksum}": {
      "get": {
        "tags": [
          "meeting"
        ],
        "summary": "Returns all meetings in progress",
        "description": "Gets a redirect to the URL that the user must use to join the meeting. It also must respond when the `bigbluebutton` protocol is used (mobile).",
        "operationId": "getMeetings",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "description": "Name of the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "meetingID",
            "in": "query",
            "description": "ID of the meeting to be joined",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "Meeting password to join as Atendee or Moderator",
            "required": true,
            "type": "string"
          },
          {
            "name": "redirect",
            "in": "query",
            "description": "Variable that defines if user will be redirected",
            "required": true,
            "type": "boolean",
            "default": true
          },
          {
            "name": "checksum",
            "in": "query",
            "description": "SHA-1 value calculated for validation in the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Meeting"
            }
          },
          "400": {
            "description": "Invalid checksum",
            "schema": {
              "$ref": "#/definitions/Checksum"
            }
          }
        },
        "security": [
          {
            "mconf_auth": [
              "write:mconf",
              "read:mconf"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "meeting"
        ],
        "summary": "Returns all meetings in progress",
        "description": "Gets a redirect to the URL that the user must use to join the meeting. It also must respond when the `bigbluebutton` protocol is used (mobile).",
        "operationId": "postMeetings",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "description": "Name of the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "meetingID",
            "in": "query",
            "description": "ID of the meeting to be joined",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "Meeting password to join as Atendee or Moderator",
            "required": true,
            "type": "string"
          },
          {
            "name": "redirect",
            "in": "query",
            "description": "Variable that defines if user will be redirected",
            "required": true,
            "type": "boolean",
            "default": true
          },
          {
            "name": "checksum",
            "in": "query",
            "description": "SHA-1 value calculated for validation in the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, User redirected to meeting URL"
          },
          "400": {
            "description": "Invalid checksum",
            "schema": {
              "$ref": "#/definitions/Checksum"
            }
          }
        },
        "security": [
          {
            "mconf_auth": [
              "write:mconf",
              "read:mconf"
            ]
          }
        ]
      }
    },
    "/join?fullName={fullName}&meetingID={meetingID}&password={password}&redirect={redirect}&checksum={checksum}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Join a meeting as an atendee or as a moderator",
        "description": "Gets a redirect to the URL that the user must use to join the meeting. It also must respond when the `bigbluebutton` protocol is used (mobile).",
        "operationId": "getJoin",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "description": "Name of the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "meetingID",
            "in": "query",
            "description": "ID of the meeting to be joined",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "Meeting password to join as Atendee or Moderator",
            "required": true,
            "type": "string"
          },
          {
            "name": "redirect",
            "in": "query",
            "description": "Variable that defines if user will be redirected",
            "required": true,
            "type": "boolean",
            "default": true
          },
          {
            "name": "checksum",
            "in": "query",
            "description": "SHA-1 value calculated for validation in the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, User redirected to meeting URL"
          },
          "400": {
            "description": "Invalid checksum",
            "schema": {
              "$ref": "#/definitions/Checksum"
            }
          }
        },
        "security": [
          {
            "mconf_auth": [
              "write:mconf",
              "read:mconf"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Join a meeting as an atendee or as a moderator",
        "description": "Gets a redirect to the URL that the user must use to join the meeting. It also must respond when the `bigbluebutton` protocol is used (mobile).",
        "operationId": "postJoin",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "description": "Name of the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "meetingID",
            "in": "query",
            "description": "ID of the meeting to be joined",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "Meeting password to join as Atendee or Moderator",
            "required": true,
            "type": "string"
          },
          {
            "name": "redirect",
            "in": "query",
            "description": "Variable that defines if user will be redirected",
            "required": true,
            "type": "boolean",
            "default": true
          },
          {
            "name": "checksum",
            "in": "query",
            "description": "SHA-1 value calculated for validation in the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, User redirected to meeting URL"
          },
          "400": {
            "description": "Invalid checksum",
            "schema": {
              "$ref": "#/definitions/Checksum"
            }
          }
        },
        "security": [
          {
            "mconf_auth": [
              "write:mconf",
              "read:mconf"
            ]
          }
        ]
      }
    },
    "/getRecordings?meetingID={meetingID}&recordID={recordID}&checksum={checksum}": {
      "get": {
        "tags": [
          "recording"
        ],
        "summary": "Join a meeting as an atendee or as a moderator",
        "description": "Gets a redirect to the URL that the user must use to join the meeting. It also must respond when the `bigbluebutton` protocol is used (mobile).",
        "operationId": "getRecording",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "meetingID",
            "in": "query",
            "description": "ID of the meeting in question",
            "required": true,
            "type": "string"
          },
          {
            "name": "recordID",
            "in": "query",
            "description": "ID of the recording in question",
            "required": true,
            "type": "string"
          },
          {
            "name": "checksum",
            "in": "query",
            "description": "SHA-1 value calculated for validation in the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, User redirected to meeting URL",
            "schema": {
              "$ref": "#/definitions/Recording"
            }
          },
          "400": {
            "description": "Invalid checksum",
            "schema": {
              "$ref": "#/definitions/Checksum"
            }
          }
        },
        "security": [
          {
            "mconf_auth": [
              "write:mconf",
              "read:mconf"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "recording"
        ],
        "summary": "Join a meeting as an atendee or as a moderator",
        "description": "Gets a redirect to the URL that the user must use to join the meeting. It also must respond when the `bigbluebutton` protocol is used (mobile).",
        "operationId": "postRecording",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "meetingID",
            "in": "query",
            "description": "ID of the meeting in question",
            "required": true,
            "type": "string"
          },
          {
            "name": "recordID",
            "in": "query",
            "description": "ID of the recording in question",
            "required": true,
            "type": "string"
          },
          {
            "name": "checksum",
            "in": "query",
            "description": "SHA-1 value calculated for validation in the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation, User redirected to meeting URL",
            "schema": {
              "$ref": "#/definitions/Recording"
            }
          },
          "400": {
            "description": "Invalid checksum",
            "schema": {
              "$ref": "#/definitions/Checksum"
            }
          }
        },
        "security": [
          {
            "mconf_auth": [
              "write:mconf",
              "read:mconf"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "mconf_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://google.com",
      "flow": "implicit",
      "scopes": {
        "write:mconf": "modify mconf",
        "read:mconf": "read your mconf"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Metadata": {
      "type": "object",
      "properties": {
        "mconfweb-institution-subscription-type": {
          "type": "string",
          "example": "premium"
        },
        "mconf-shared-secret-guid": {
          "type": "string",
          "example": "random-123"
        },
        "bbbrails-user-id": {
          "type": "integer",
          "format": "int64",
          "example": 149
        },
        "mconfweb-external-subscriber": {
          "type": "boolean",
          "example": true
        },
        "mconfweb-institution-name": {
          "type": "string",
          "example": "user@mconf.com"
        },
        "mconfweb-room-type": {
          "type": "string",
          "example": "User"
        },
        "mconf-institution-name": {
          "type": "string",
          "example": "Mconf"
        },
        "mconfweb-subscription-type": {
          "type": "string",
          "example": "premium"
        },
        "invitation-url": {
          "type": "string",
          "example": "https://h.elos.dev/username"
        },
        "bbbrails-user-name": {
          "type": "string",
          "example": "Username"
        },
        "mconflb-guid": {
          "type": "string",
          "example": "randomvalues==-randomnumbers"
        },
        "mconfweb-url": {
          "type": "string",
          "example": "https://h.elos.dev/"
        },
        "mconf-subnet": {
          "type": "string",
          "example": "Global"
        },
        "mconf-secret-name": {
          "type": "string",
          "example": "h.elos.dev"
        },
        "mconfweb-institution-guid": {
          "type": "string",
          "example": "01234567-abcde-fghi-jklm-0123456789ab"
        },
        "mconf-institution-guid": {
          "type": "string",
          "example": "01234567-abcde-fghi-jklm-0123456789ab"
        }
      },
      "xml": {
        "name": "metadata"
      }
    },
    "CustomData": {
      "type": "object",
      "properties": {
        "mconfweb_institution_subscription_type": {
          "type": "string",
          "example": "premium"
        },
        "bbb_custom_style_url": {
          "type": "string",
          "example": "https://live-oc003.elos.dev/css/custom-style.css"
        },
        "mconfweb_subscription_type": {
          "type": "string",
          "example": "premium"
        },
        "mconfweb_institution_guid": {
          "type": "string",
          "example": "random-89579"
        },
        "bbb_override_default_locale": {
          "type": "string",
          "example": "pt-br"
        },
        "mconf_custom_record": {
          "type": "boolean",
          "example": false
        },
        "mconf_custom_record_tooltip": {
          "type": "string",
          "example": "Você não pode gravar reuniões nesta sala"
        },
        "mconfweb_external_subscriber": {
          "type": "boolean",
          "example": true
        },
        "mconf_custom_language": {
          "type": "string",
          "example": "pt-br"
        },
        "mconf_custom_logout_url": {
          "type": "string",
          "example": "https://h.elos.dev/conference/feedbacks/randomNumber123/thank_you"
        },
        "mconfweb_institution_name": {
          "type": "string",
          "example": "usuario@mconf.com"
        }
      },
      "xml": {
        "name": "customdata"
      }
    },
    "Atendees": {
      "type": "object",
      "properties": {
        "Atendee": {
          "type": "object",
          "properties": {
            "userID": {
              "type": "integer",
              "format": "int64",
              "example": 149
            },
            "fullName": {
              "type": "string",
              "example": "User123"
            },
            "role": {
              "type": "string",
              "example": "MODERATOR"
            },
            "isPresenter": {
              "type": "boolean",
              "example": false
            },
            "isListeningOnly": {
              "type": "boolean",
              "example": false
            },
            "hasJoinedVoice": {
              "type": "boolean",
              "example": false
            },
            "hasVideo": {
              "type": "boolean",
              "example": false
            },
            "customData": {
              "$ref": "#/definitions/CustomData"
            }
          }
        }
      },
      "xml": {
        "name": "Atendees"
      }
    },
    "Recording": {
      "type": "object",
      "properties": {
        "returncode": {
          "type": "string",
          "example": "SUCCESS"
        },
        "nextpage": {
          "type": "boolean",
          "example": false
        },
        "recordings": {
          "type": "object",
          "properties": {
            "recording": {
              "type": "object",
              "properties": {
                "recordID": {
                  "type": "string",
                  "example": "123456789randomvalues123456789-123456789"
                },
                "meetingID": {
                  "type": "string",
                  "example": "123456789randomvalues123456789-123456789"
                },
                "internalMeetingID": {
                  "type": "string",
                  "example": "123456789randomvalues123456789-123456789"
                },
                "name": {
                  "type": "string",
                  "example": "Cool Name"
                },
                "isBreakout": {
                  "type": "boolean",
                  "example": false
                },
                "published": {
                  "type": "boolean",
                  "example": true
                },
                "state": {
                  "type": "string",
                  "example": "published"
                },
                "startTime": {
                  "type": "string",
                  "example": "1643201046673"
                },
                "endTime": {
                  "type": "string",
                  "example": "1643206124251"
                },
                "size": {
                  "type": "string",
                  "example": "76302108"
                },
                "rawSize": {
                  "type": "string",
                  "example": "0"
                },
                "participants": {
                  "type": "string",
                  "example": "4"
                },
                "metaData": {
                  "$ref": "#/definitions/Metadata"
                },
                "playback": {
                  "$ref": "#/definitions/Playback"
                }
              }
            }
          }
        }
      }
    },
    "Playback": {
      "type": "object",
      "properties": {
        "format": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "example": "presentation"
            },
            "url": {
              "type": "string",
              "example": "https://rec.h.elos.dev/playback/presentation/2.3/thereisacodehere123456789-randomnumber"
            },
            "processingTime": {
              "type": "string",
              "example": "0"
            },
            "length": {
              "type": "string",
              "example": "56"
            },
            "size": {
              "type": "string",
              "example": "52363189"
            },
            "preview": {
              "type": "object",
              "properties": {
                "images": {
                  "type": "object",
                  "properties": {
                    "image": {
                      "type": "string",
                      "example": "https://rec.h.elos.dev/presentation/imageurl/thumbnails/coolImage.png"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Meeting": {
      "type": "object",
      "properties": {
        "returncode": {
          "type": "string",
          "example": "SUCCESS"
        },
        "meetings": {
          "type": "object",
          "properties": {
            "meeting": {
              "type": "object",
              "properties": {
                "meetingName": {
                  "type": "string",
                  "example": "Meeting123"
                },
                "meetingID": {
                  "type": "string",
                  "example": "12345678-abcd-efgh-ijkl-123456789abc-defghijklm"
                },
                "internalMeetingID": {
                  "type": "string",
                  "example": "random-8630463"
                },
                "createTime": {
                  "type": "string",
                  "example": "1643301169875"
                },
                "createDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "Thu Jan 27 13:32:49 BRT 2022"
                },
                "voiceBridge": {
                  "type": "string",
                  "example": "65512"
                },
                "dialNumber": {
                  "type": "string",
                  "example": "613-555-1234"
                },
                "atendeePW": {
                  "type": "string",
                  "example": "ap"
                },
                "moderatorPW": {
                  "type": "string",
                  "example": "mp"
                },
                "running": {
                  "type": "boolean",
                  "example": true
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "hasUserJoined": {
                  "type": "boolean",
                  "example": true
                },
                "recording": {
                  "type": "boolean",
                  "example": true
                },
                "hasBeenForciblyEnded": {
                  "type": "boolean",
                  "example": false
                },
                "startTime": {
                  "type": "string",
                  "example": "1643301174410"
                },
                "endTime": {
                  "type": "string",
                  "example": "0"
                },
                "participantCount": {
                  "type": "integer",
                  "format": "int32",
                  "example": 2
                },
                "listenerCount": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "voiceParticipantCount": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "videoCount": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "maxUsers": {
                  "type": "integer",
                  "format": "int32",
                  "example": 100
                },
                "moderatorCount": {
                  "type": "integer",
                  "format": "int32",
                  "example": 1
                },
                "atendees": {
                  "$ref": "#/definitions/Atendees"
                },
                "metaData": {
                  "$ref": "#/definitions/Metadata"
                },
                "isBreakout": {
                  "type": "boolean",
                  "example": false
                },
                "transfer": {
                  "type": "boolean",
                  "example": false
                },
                "transferCount": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                }
              }
            }
          }
        }
      },
      "xml": {
        "name": "response"
      }
    },
    "Checksum": {
      "type": "object",
      "properties": {
        "returncode": {
          "type": "string",
          "example": "FAILED"
        },
        "messageKey": {
          "type": "string",
          "example": "checksumError"
        },
        "message": {
          "type": "string",
          "example": "You did not pass the checksum security check"
        }
      },
      "xml": {
        "name": "response"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}