openapi: 3.0.3
info:
  description:
    $ref: "./info-description.md"
  version: 1.0.0
  title: Elos Conference API
  contact:
    name: Email
    url: https://elos.vc
    email: contato@elos.vc
servers:
  - url: https://api.h.elos.dev/bigbluebutton/api
    description: The homologation API server

x-tagGroups:
  - name: General
    tags:
      - meeting
      - recording
      - callbacks
  - name: Other
    tags:
      - hooks
      - monitoring

tags:
  - name: meeting
    description: Create, join, end and get information about your meetings
  - name: recording
    description: Fetch and manage your recordings
  - name: callbacks
    description: Everything about your Callbacks
  - name: monitoring
    description: Monitoring centered requests
  - name: hooks
    description: Create and manage webhooks, endpoints used to receive events from your meetings and recordings
paths:
  /:
    $ref: "./paths/root.yaml"
  /getMeetings:
    $ref: "./paths/getMeetings.yaml"
  /getAllMeetings:
    $ref: "./paths/getAllMeetings.yaml"
  /isMeetingRunning:
    $ref: "./paths/isMeetingRunning.yaml"
  /getMeetingInfo:
    $ref: "./paths/getMeetingInfo.yaml"
  /create:
    $ref: "./paths/create.yaml"
  /end:
    $ref: "./paths/end.yaml"
  /join:
    $ref: "./paths/join.yaml"
  /getRecordings:
    $ref: "./paths/getRecordings.yaml"
  /publishRecordings:
    $ref: "./paths/publishRecordings.yaml"
  /deleteRecordings:
    $ref: "./paths/deleteRecordings.yaml"
  /updateRecordings:
    $ref: "./paths/updateRecordings.yaml"
  /getRecordingToken:
    $ref: "./paths/getRecordingToken.yaml"
  /callback_events:
    $ref: "./paths/callbackEvents.yaml"
  /hooks/create:
    $ref: "./paths/createHook.yaml"
  /hooks/list:
    $ref: "./paths/list.yaml"
  /hooks/destroy:
    $ref: "./paths/destroy.yaml"
  /hooks/enable:
    $ref: "./paths/enable.yaml"
  /getDefaultConfigXML:
    $ref: "./paths/getDefaultConfigXML.yaml"
  /setConfigXML:
    $ref: "./paths/setConfigXML.yaml"
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
