.docPage {
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.docSidebarContainer {
  width: 300px;
  flex-shrink: 0;
  height: calc(100vh - var(--ifm-navbar-height));
  position: sticky;
  top: var(--ifm-navbar-height);
  overflow-y: auto;
  border-right: 1px solid var(--ifm-toc-border-color);
  padding: 1rem;
  background-color: var(--ifm-background-surface-color);
}

.sidebarWrapper {
  position: relative;
}

.docMainContainer {
  flex-grow: 1;
  max-width: calc(100% - 300px);
  overflow-x: hidden;
}

@media (max-width: 996px) {
  .docSidebarContainer {
    display: none;
  }

  .docMainContainer {
    max-width: 100%;
  }
}
