name: Continuous Integration

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    uses: mconf/mconf-ci-jobs/.github/workflows/lb-node-build.yml@main
    with:
      node-version: '18'
      build-env: |
        SITE_URL=${{ vars.SITE_URL }}
      runs-on: '["ubuntu-22.04"]'

  # lint:
  #   uses: mconf/mconf-ci-jobs/.github/workflows/lb-node-lint.yml@main
  #   with:
  #     node-version: '18'

  push-scan:
    uses: mconf/mconf-ci-jobs/.github/workflows/lb-push-scan-image.yml@main
    with:
      runs-on: '["ubuntu-22.04"]'
    secrets: inherit
