name: Push Image

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  SITE_URL: ${{ secrets.SITE_URL }}
  SITE_URL_INTERNAL: ${{ secrets.SITE_URL_INTERNAL }}

jobs:
  push-scan-public:
    uses: mconf/mconf-ci-jobs/.github/workflows/lb-push-scan-image.yml@main
    with:
      build-args: |
        SITE_URL=${{ env.SITE_URL }}
        SHOW_INTERNAL_APIS=false
      image-suffix: ''
      runs-on: '["ubuntu-22.04"]'
    secrets: inherit

  push-scan-internal:
    uses: mconf/mconf-ci-jobs/.github/workflows/lb-push-scan-image.yml@main
    with:
      build-args: |
        SITE_URL=${{ env.SITE_URL_INTERNAL }}
        SHOW_INTERNAL_APIS=true
      image-suffix: '-internal'
      runs-on: '["ubuntu-22.04"]'
    secrets: inherit
